body {
    background-color: lightgray;
    text-align: center;
}

#calculator {
    display: block;
    padding-top: 20px; 
    padding-bottom: 20px;    
    border-radius: 10px;
    margin: 100px auto 50px auto;   
    width: 500px;
    height: 620px;    
    background-color: #D6F8D6;
    box-shadow: -8px 8px 9px -4px rgba(0,0,0,0.75); 
}

#display {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 5px;    
    border-radius: 5px;  
    width: 90%;
    height: 90px;
    background-color: white;
    font-size: 60px;
}

#button-container {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "clear divide times delete"
    "seven eight nine minus"
    "four five six plus"
    "one two three equals"
    "zero zero point equals";
    margin: 0 auto;
    margin-top: 20px;
    width: 90%;
    height: 80%;
}

.button {
    background-color: #7FC6A4;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    box-shadow: 0 3px #999;
}

.button:active {
    box-shadow: 0 1px #666;
    transform: translateY(2px);
}

img {
    width: 35px;
    height: 35px;
}

#equals {
    grid-area: equals;
    background-color: #60967c;
}

#point {
    grid-area: point;
}

#zero {
    grid-area: zero;
}

#one {
    grid-area: one;
}

#two {
    grid-area: two;
}

#three {
    grid-area: three;
}

#four {
    grid-area: four;
}

#five {
    grid-area: five;
}

#six {
    grid-area: six;
}

#seven {
    grid-area: seven;
}

#eight {
    grid-area: eight;
}

#nine {
    grid-area: nine;
}

#plus {
    grid-area: plus;
}

#minus {
    grid-area: minus;
}

#delete {
    grid-area: delete;
}

#times {
    grid-area: times;
}

#divide {
    grid-area: divide;
    font-size: 30px;
}

#clear {
    grid-area: clear;
}


@media (max-width: 600px) {
    body {
        padding: none;
    }

    .disable-dbl-tap-zoom {
        touch-action: manipulation;
      }
    
    #calculator {
        display: block;        
        border-radius: 0;
        margin: 0;   
        width: 100vw;
        height: 100vh;    
        background-color: #D6F8D6;
        box-shadow: none; 
    }

    p {
        display: none !important;
    }
}